ENABLE_BITCODE = NO

// Allow Xcode 12 to successfully bootstrap
// https://github.com/Carthage/Carthage/issues/3019#issuecomment-665136323
EXCLUDED_ARCHS__EFFECTIVE_PLATFORM_SUFFIX_simulator__NATIVE_ARCH_64_BIT_x86_64__XCODE_1200 = arm64 arm64e armv7 armv7s armv6 armv8
EXCLUDED_ARCHS = $(inherited) $(EXCLUDED_ARCHS__EFFECTIVE_PLATFORM_SUFFIX_$(EFFECTIVE_PLATFORM_SUFFIX)__NATIVE_ARCH_64_BIT_$(NATIVE_ARCH_64_BIT)__XCODE_$(XCODE_VERSION_MAJOR))
// Since ReactiveKit doesn't have a minimum_deployment_target, it tries to build it using the Xcode's default which might be too high for the build to succeed. (only for watchOS)
WATCHOS_DEPLOYMENT_TARGET = 7.0
// Explicitly adding the deployment target Xcode 12 build settings
// https://www.jessesquires.com/blog/2020/07/20/xcode-12-drops-support-for-ios-8-fix-for-cocoapods/
IPHONEOS_DEPLOYMENT_TARGET = 11.0