name: Tests
on: push

jobs:
  codegen_tests:
    name: CodeGen Tests
    runs-on: ubuntu-latest
    steps:
      - name: Clone Project
        uses: actions/checkout@v2

      - name: Run Lucid CodeGen tests
        run: |
          swift test --package-path CodeGen --enable-test-discovery --enable-code-coverage
          echo "::set-env name=PRODUCT_PATH::`swift build --package-path CodeGen --show-bin-path`"

      - name: Create code coverage
        if: github.ref == 'refs/heads/master'
        uses: mattpolzin/swift-codecov-action@0.4.0
        with:
          CODECOV_JSON: ${{ env.PRODUCT_PATH }}/codecov/*.json

      - name: Upload code coverage badge
        if: github.ref == 'refs/heads/master'
        uses: alvivi/shield-badge@v1
        with:
          aws-access-key-id: ${{ secrets.S3_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          aws-bucket: mobile.scribd.com
          aws-filepath: badges/Lucid/CodeGen
          label: CodeGen Coverage
          text: ${{ env.CODECOV }}

  lucid_tests:
    name: Lucid-iOS Tests
    runs-on: macos-latest
    env: 
      FASTLANE_LOGS: fastlane/test_output
      FASTLANE_FRAGILE_LOGS: fastlane/fragile_test_output
      DEVELOPER_DIR: /Applications/Xcode_12.app/Contents/Developer
      GITHUB_ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      FRAGILE_TESTS: LucidTests/APIClientQueueProcessorTests/test_processor_does_attempt_to_process_request_if_already_running_concurrent_request,LucidTests/CoreManagerTests/test_continuous_observer_should_receive_all_updates_in_order,LucidTests/RelationshipControllerTests/test_relationship_controller_should_continuously_send_events_when_first_event_comes_from_continuous_signal,LucidTests/RelationshipControllerTests/test_relationship_controller_should_continuously_send_events_when_first_event_comes_from_once_signal,LucidTests/StoreStackTests/test_should_fail_to_remove_in_remote_store_only_with_memory_store_first,LucidTests/RecoverableStoreTests/test_store_should_overwrite_a_non_empty_recovery_store_with_a_non_empty_main_store_at_init
    steps:
      - name: Clone Project
        uses: actions/checkout@v2

      - name: Bootstrap
        run: XCODE_XCCONFIG_FILE="../../Patches/lucid.xcconfig" carthage bootstrap --platform iOS,watchOS --log-path $CARTHAGE_BOOTSTRAP_OUTPUT

      - name: Run Lucid-iOS Tests
        run: |
          fastlane scan --scheme Lucid-iOS --skip_testing "$FRAGILE_TESTS" --device "iPhone 8" --output_directory $FASTLANE_LOGS --result_bundle true

      # Some tests need to be reworked. Don't forget about them, but don't crash the build either
      # https://scribdjira.atlassian.net/browse/IPT-4387
      - name: Run Fragile Tests
        continue-on-error: true
        run: |
          fastlane scan --scheme Lucid-iOS --only_testing "$FRAGILE_TESTS" --device "iPhone 8" --output_directory $FASTLANE_FRAGILE_LOGS --result_bundle true

      - name: Bundle Log Files
        if: ${{ always() }}
        run: |
          cd $FASTLANE_LOGS
          zip -rX build-artifacts.zip .
          cd $OLDPWD

          cd $FASTLANE_FRAGILE_LOGS
          zip -rX build-artifacts.zip .

      - name: Upload Log Files
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: build-artifacts
          path: |
            ${{ env.FASTLANE_LOGS }}/build-artifacts.zip
            ${{ env.FASTLANE_FRAGILE_LOGS }}/build-artifacts.zip
